.article-left h1{
    color: #1D3444;
    font-style: normal;
    flex-wrap: wrap;
    font-size: 64px;
    font-weight:600 ;
    line-height: 72px;
    margin-bottom: 5px;
}

.article-left p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin: 1px 0;
}

.article-left .btn{
    margin-top: 32px;
}

.btn .btn1{
    border-radius: 27px;
    background-color:  #F58A07;
    padding: 16px 32px;
    left:0;
    top: 100px;
    color: #fff;
    font-size: 16px;
    width: 200px;
    height: 54px;
}
.btn .btn2{
    color:  #5B5B5B;
    margin-left: 40px;
}

.article-left span{
    color:  #1D3444;
    margin-left: 72px;
    font-weight: 600;
    font-size: 16px;
}

.article-left .title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.5);
    margin-top: 57px;
}

.header-logo{
    padding-top:30px;
    display:flex;
}

.header-logo img{
    margin-right: 30px;
}

.article-right{
    position:relative;
    width: 50%;
}

.article-right img{
    position: absolute;
    top: -34px;
    left: -170px;
}

.help-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.help-text{
    width: 60%;
    margin-top: 80px;

}

.help-text h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 3%;
    color:#1D3444;
    margin-bottom: 25px;
}

.help-text p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 65px;
}

.help-post{
    display: flex;
    flex-direction: row;
    height: 500px;
}

.help img{
    border-radius: 20px;
}

.help h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -3%;
    color: #0D1317;
    margin-bottom: 17px;
}

.help p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 24px;
}

.feaures-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feaures-right{
    width: 50%;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -3%;
    color: #0D1317;
    padding-bottom: 64px;
}

.feaures-right p{
    margin: 0;
}

.feaures-left{
    width: 50%;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0D1317;
}

.feaures-left p{
    margin: 0;
}

.feaures-article{
    display: flex;
}

.feaures1{
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 280px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}

.feaures1 img{
    width: 33px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 32px;
}

.feaures1 p{
    padding-bottom: 40px;
}

.feaures1 h2{
    padding-bottom: 16px;
    margin: 0;
}

.feaures2{
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 280px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}

.feaures2 img{
    width: 33px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 32px;
}

.feaures2 p{
    padding-bottom: 40px;
}

.feaures2 h2{
    padding-bottom: 16px;
    margin: 0;
}


.feaures3{
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 280px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 40px;
}

.feaures3 p{
    padding-bottom: 40px;
}

.feaures3 h2{
    padding-bottom: 16px;
    margin: 0;
}


.feaures3 img{
    width: 33px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 32px;
}

.about-section{
    display: flex;
    flex-wrap: wrap;
}

.about-left{
    width: 50%;
    margin-top: 110px;
    margin-bottom: 150px;
}

.about-text h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 32px;
}

.about-text p{
    width: 510px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 48px;
}

.about-card{
    display: flex;
    justify-content: space-between;
}

.card h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
}

.card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.about-img{
    margin-top: 96px;
    height: 700px;
    position: relative;
}

.about-img img{
    border-radius: 20px;
    width: 630px;
    height: 700px;
}

.about-img .orange{
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    mix-blend-mode: multiply;
}

.service-section{
    background-color: #EDF7FF;
    border-radius: 20px;
    margin-bottom: 128px;
}

.service-header{
    height: 170px;
}

.service-tab{ 
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    position: relative;
}

.service-tab .tab1{
    width: 200px;
    height: 40px;
    background-color: #fff;
    border: #fff solid 1px;
    border-radius: 20px;
    text-align: center;
    padding: 8px 24px;
    margin-right: 24px;
}

.service-tab .tab1 a{
    color: #F58A07;
}

.service-tab .tab2{
    width: 200px;
    height: 40px;
    background-color: #EDF7FF;
    border: #A8BCCC solid 1px;
    border-radius: 20px;
    text-align: center;
    padding: 8px 24px;
    margin-right: 24px;
}

.service-tab .tab3{
    width: 200px;
    height: 40px;
    background-color: #EDF7FF;
    border: #A8BCCC solid 1px;
    border-radius: 20px;
    text-align: center;
    padding: 8px 24px;
    margin-right: 24px;
}

.service-tab img{
    position: absolute;
    top: -15px;
    right: -15px;
}

.service-body{
    display: flex;
}

.service-left{
    width: 50%;
}

.service-text{
    padding-left: 50px;
}

.service-text h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #0D1317;
    margin: 0;
}

.service-text p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    padding-bottom: 40px;
}

.service-text a{
    font-weight: 500;
    font-size: 16px;
    color: #F58A07;
    display: inline-block;
    padding-bottom: 55px;
}

.service-text:hover .arrow-right::after{transform:translateX(15px);}

.service-right{
    padding-left: 140px;
    position: relative;
}

.service-right img{
    height: 445px;
}

.service-right .orange{
    position: absolute;
    top: 0;
    left: 140px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    mix-blend-mode: multiply;
}

.cta-section{
    display: flex;
}

.cta-left{
    width: 50%;
    height: 520px;
}

.cta-left img{
    width: 100%;
    height: 100%;
}

.cta-right{
    background-color: #F58A07;
    width: 50%;
    height: 520px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
}

.cta-text{
    width: 530px;
    margin-right: 300px;
}

.cta-right h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
    padding-bottom: 50px;
    margin: 0;
}

.cta-right .cta-btn{
    font-weight: 600;
    font-size: 16px;
    color: #F58A07;
    background-color: #fff;
    width: 220px;
    height: 55px;
    border-radius: 20px;
    text-align: center;
    padding: 16px 32px 16px 32px;
}

.video-section{
    display: flex;
}

.video-left{
    width: 50%;
    margin-top: 200px;
}

.video-left .img{
    display: flex;
}

.video-left .name{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-top: 5px;
}

.video-left h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    padding-bottom: 24px;
    margin: 0;
}

.video-left p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 40px;
}

.video-left .name h4{
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: #063255;
}

.video-left .name h5{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    color: #F58A07;
}

.video-right{
    margin-top: 128px;
    padding-left: 110px;
    position: relative;
}

.video-right .play-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 50px;
    left: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video a::after{
    content: '\25B6';
    color:  #F58A07;
}

.video .icon-text{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    bottom: 60px;
    left: 230px;
}

.latest-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.latest-text{
    width: 60%;
    margin-bottom: 64px;
}

.latest-text h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color:#1D3444;
    margin-bottom: 25px;
    margin: 0;
}

.latest-text p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 65px;
}

.latest-post{
    display: flex;
    flex-direction: row;
    
}

.latest-card{
    border-radius: 20px;
    width: 400px;
    height: 510px;
    background-color: #fff;
    margin-right: 40px;
}

.latest-card img{
    border-radius: 20px;
}

.latest-card h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -3%;
    color: #0D1317;
    margin-bottom: 17px;
    padding-left: 32px;
    padding-right: 32px;
}

.latest-card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    margin-bottom: 24px;
    padding-left: 32px;
}

.latest-card .arrow-right{
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #F58A07;
    padding-left: 32px;
}



